{$Content}
<div class="main-box clearfix">
  <div class="tabs-wrapper profile-tabs">
    <ul class="nav nav-tabs responsive-tabs">
      <li class="active"><a data-toggle="tab" href="#auto-reply">Support Auto Reply Mail Content </a></li>
      <li><a data-toggle="tab" href="#reject-reply">Support Denied Mail Content</a></li>
      <li><a data-toggle="tab" href="#close-reply">Closed Ticket Mail Content</a></li>
      <li><a data-toggle="tab" href="#new_customer">Allow New Customer Ticket</a></li>
      <!-- <li><a data-toggle="tab" href="#support_escalation">Support Escalation</a></li> -->
    </ul>
    <div class="tab-content">
      <div id="auto-reply" class="tab-pane active">{$auto-reply}                       </div>
      <div id="reject-reply" class="tab-pane">{$reject-reply}                       </div>
      <div id="close-reply" class="tab-pane">{$close-reply}                       </div>
      <div id="new_customer" class="tab-pane">{$new_customer_section}                       </div>                        
      <!-- <div id="support_escalation" class="tab-pane">{$support_escalation}                       </div> -->
    </div>

  </div>
</div>