{$Content}
.col-lg-6
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 Users
    .main-box-body.clearfix
      ul.widget-users.row
        li.col-md-6
          .img
            img(alt='', src='img/samples/scarlet.png')
          .details
            .name
              a(href='#') Scarlett Johansson
            .time
              i.fa.fa-clock-o
              |  Last online: 5 minutes ago
            .type
              span.label.label-danger Admin
        li.col-md-6
          .img
            img(alt='', src='img/samples/kunis.png')
          .details
            .name
              a(href='#') Mila Kunis
            .time.online
              i.fa.fa-check-circle
              |  Online
            .type
              span.label.label-warning Pending
        li.col-md-6
          .img
            img(alt='', src='img/samples/ryan.png')
          .details
            .name
              a(href='#') Ryan Gossling
            .time.online
              i.fa.fa-check-circle
              |  Online
        li.col-md-6
          .img
            img(alt='', src='img/samples/robert.png')
          .details
            .name
              a(href='#') Robert Downey Jr.
            .time
              i.fa.fa-clock-o
              |  Last online: Thursday
        li.col-md-6
          .img
            img(alt='', src='img/samples/emma.png')
          .details
            .name
              a(href='#') Emma Watson
            .time
              i.fa.fa-clock-o
              |  Last online: 1 week ago
        li.col-md-6
          .img
            img(alt='', src='img/samples/george.png')
          .details
            .name
              a(href='#') George Clooney
            .time
              i.fa.fa-clock-o
              |  Last online: 1 month ago
        li.col-md-6
          .img
            img(alt='', src='img/samples/ryan.png')
          .details
            .name
              a(href='#') Ryan Gossling
            .time.online
              i.fa.fa-check-circle
              |  Online

        