.main-box-body.clearfix
      .conversation-wrapper
        .conversation-content
          .slimScrollDiv(style='position: relative; overflow: hidden; width: auto; height: 352px;')
            .conversation-inner(style='overflow: hidden; width: auto; height: 352px;')