.conversation-new-message
          form
            .form-group
              textarea.form-control(placeholder='Enter your message...', rows='2')
            .clearfix
              button.btn.btn-success.pull-right(type='submit') Send message
