.conversation-item.item-left.clearfix
                .conversation-user
                  img(alt='', src='img/samples/ryan.png')
                .conversation-body
                  .name
                    | Bhavani pvt ltd
                  .time.hidden-xs
                    | September 21, 2013 18:28
                  .text
                    | I don't think they tried to market it to the billionaire, spelunking,
                    | base-jumping crowd.