.conversation-item.item-right.clearfix
                .conversation-user
                  img(alt='', src='img/samples/kunis.png')
                .conversation-body
                  .name
                    | Xavoc 
                  .time.hidden-xs
                    | September 21, 2013 12:45
                  .text
                    | The path of the righteous man is beset on all sides by the iniquities of the
                    | selfish and the tyranny of evil men. Blessed is he who, in the name of charity and
                    | good will.