{$Content}
.col-lg-12
  section#cd-timeline.cd-container
    .cd-timeline-block
      .cd-timeline-img.cd-picture
        i.fa.fa-photo.fa-2x
      .cd-timeline-content
        h2 Title of section 1
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
        .clearfix
          a.btn.btn-primary.pull-right Read more
        span.cd-date 11:59
    .cd-timeline-block
      .cd-timeline-img.cd-movie
        i.fa.fa-video-camera.fa-2x
      .cd-timeline-content
        h2 Title of section 2
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?
        .clearfix
          a.btn.btn-primary.pull-right Read more
        span.cd-date 15:40
    .cd-timeline-block
      .cd-timeline-img.cd-picture.bounce-in
        i.fa.fa-photo.fa-2x
      .cd-timeline-content.bounce-in
        h2 Title of section 3
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.
        .clearfix
          a.btn.btn-primary.pull-right Read more
        span.cd-date 18:12
    .cd-timeline-block
      .cd-timeline-img.cd-location.bounce-in
        i.fa.fa-map-marker.fa-2x
      .cd-timeline-content.bounce-in
        h2 Title of section 4
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
        .clearfix
          a.btn.btn-primary.pull-right Read more
        span.cd-date 20:48
    .cd-timeline-block
      .cd-timeline-img.cd-location.bounce-in
        i.fa.fa-map-marker.fa-2x
      .cd-timeline-content.bounce-in
        h2 Title of section 5
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.
        .clearfix
          a.btn.btn-primary.pull-right Read more
        span.cd-date 21:22
    .cd-timeline-block
      .cd-timeline-img.cd-movie.bounce-in
        i.fa.fa-video-camera.fa-2x
      .cd-timeline-content.bounce-in
        h2 Final Section
        p This is the content of the last section
        span.cd-date 23:59
