
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table-responsive">
    <table style="width:100%" class="table user-list table-hover footable toggle-circle-filled">{header}
      <thead class="xepan-hover-hand">{cols}{col}
        <th>S.no.</th>
        <th id="{$name_sortid}"><span>Ticket Name {$name_sort}</span></th>
        <th id="{$created_at_sortid}" data-hide="phone"><span>Created On {$created_at_sort}</span></th>
        <th id="{$created_at_sortid}" data-hide="phone"><span>Dates</span></th>
        <th id="{$last_comment_sortid}" data-hide="phone"><span>Last Comment On {$last_comment_sort}</span></th>
        <th><span>Email</span></th>
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>{$s_no}</td>
          <td>
            {avatar}
            <img src="img/samples/scarlet-159.png" alt=""/>{/}
              <a href="#" data-id="{$id}" class="user-link support-ticket-view">{$id}: <span style="overflow: hidden;position: absolute;text-overflow: ellipsis;white-space: nowrap;width: 200px;" class="user-subhead">{$subject}</span></a>
              <a href="#" data-contact-id="{$contact_id}" class="do-view-ticket-customer">
                <span class="user-subhead">{$contact}</span>
              </a>
          </td>
          <td>{$created_at}
            </td>
          <td>
            {pending_wrapper}
              <b>Pending:</b> {$pending_at}<br/>
            {/}
            {assign_wrapper}
              <b>Assign:</b> {$assigned_at}<br/>
            {/}
            {closed_wrapper}
              <b>Closed:</b> {$closed_at}<br/>
            {/}
            {rejected_wrapper}
              <b>Rejected:</b> {$rejected_at}<br/>
            {/}
          </td>
          <td>{$last_comment}</td>
          <td><a href="#">{$from_email}</a></td>
          <td>
             
            {$ticket_attachment}
          </td>
          <td>
             
            {$action}<br/>
            <a href="#" data-id="{$id}" class="view-related-task">
              <small>{$task_status} {$assign_to_employee}</small>   
              <!-- {$task_id}&nbsp; -->
            </a>
          </td>
        </tr>{/}
        {/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>