<div id="{$_name}" style="display: none;" for-xepan-component="xepan/crm/Tool_SupportTicket" class="xepan-tool-options"> 
<div class="xepan-cms-group-panel clearfix">
  <div id="collapse-support-ticket" class="xepan-cms-tools-bar-panel row-fluid collapse in">
    <div style="padding-top:0px; padding-bottom:0px;" class="panel-body">
      <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in">
      </div>
        <div class="xepan-cms-group-panel clearfix">
                <div data-toggle="collapse" data-target="#show-hide-support-ticket-option" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Hide/ Show</span><i class="fa fa-chevron-down pull-right"></i>
                </div>
            </div>
            <div id="show-hide-support-ticket-option" class="xepan-cms-tools-bar-panel row-fluid collapse">
                <table class="table table-condensed table-hover xepan-cms-tool-table">
                  <tr class="xepan-tool-option">
                        <td class="xepan-tool-option-title">Show Complain Id</td>
                        <td colspan="2" class="xepan-tool-option-value">
                          <select id="{$_name}_email_dropdown" data-attr="complain_to_id" data-defaultvalue="0">
                          </select>
                        </td>
                      </tr>
                    <tr class="xepan-tool-option">
                        <td class="xepan-tool-option-title">Show Ticket Form</td>
                        <td class="xepan-tool-option-value">
                           <select id="show_ticket_form" data-attr="show_ticket_form" data-defaultvalue="true">
                              <option value="true">True</option>
                              <option value="false">False</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="xepan-tool-option">
                        <td class="xepan-tool-option-title">Show Ticket History</td>
                        <td class="xepan-tool-option-value">
                           <select id="show_ticket_history" data-attr="show_ticket_history" data-defaultvalue="true">
                              <option value="true">True</option>
                              <option value="false">False</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="xepan-tool-option">
                       <td class="xepan-tool-option-title">Paginator</td>
                       <td class="xepan-tool-option-value">
                          <input id="paginator" data-attr="paginator" data-defaultvalue="5"/>
                        </td>
                    </tr>

             </table>
            </div>
       
          </div>
      </div>
    </div>

 <script>
    $('#{$_name} [data-attr]').on('change',function(){
      $(current_selected_component).attr($(this).data('attr'),$(this).val());

      if($(this).data('toggleclass')){
        var value = $(this).data('togglevalue').toString();
        if($(this).val() === value){
          $($(this).data('toggleclass')).show();
        }else
          $($(this).data('toggleclass')).hide();
      }

    });
    
    $('#{$_name}').on('show',function(event){
       $.ajax({
      url: 'index.php?page=xepan_crm_getdata_getsupportemail',
      type: 'GET',
      data: { },
      success: function ( data ){
        $('#{$_name}_email_dropdown').html(data);
        
        $('#{$_name}_email_dropdown').chosen();
        $('#{$_name}_email_dropdown').chosen({allow_single_deselect: true });
      
      }
    });
      $('#{$_name} [data-attr]').each(function(index,value){
        var default_value = $(this).attr('data-defaultvalue');
        if($(current_selected_component).attr($(this).data('attr')))
          default_value = $(current_selected_component).attr($(this).data('attr'));

        $(this).val(default_value);       
      });
    });
    
 </script>



</div>