
<div id="{$_name}" class="xepan-grid main-box clearfix ticket-comment {$class}">
  <style>
    .ticket-heading{
        padding:8px;
        background-color:lightgray!important;
    }
    .ticket-heading a {
        color: black!important;
    }
    .ticket-comment li {
        background: #e7ebee none repeat scroll 0 0 padding-box;
        border: 1px solid #e7ebee;
        border-radius: 3px;
        float: left;
        font-size: 0.875em;
        margin: 10px 10px 10px 0;
        overflow: hidden;
        padding: 0;
    }
    .ticket-comment li .img{
        background-clip: padding-box;
        border-radius: 3px 3px 0 0;
        height: 87px;
        overflow: hidden;
        text-align: center;
        width: 130px;
    }
    }
  </style>
  <div class="main-box-body clearfix">
    <div class="row">
      {header}{cols}{col}{/}{/}{/}
      {rows}{row}
      <div data-id="{$id}" class="{$odd_even} col-md-{col-width}12{/}">{cols} 
        <div class="conversation-wrapper">
          <div class="conversation-content">
            <div style="position: relative; overflow: hidden; width: auto;" class="slimScrollDiv">
              <div style="overflow: hidden; width: auto;" class="conversation-inner">
                <div class="conversation-item item-left clearfix">
                  <div class="conversation-user">{$avatar}</div>
                  <div class="conversation-body">
                    <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap; margin-bottom:5px; width:85%" class="name">{$title_expression}</div><span class="label label-success pull-right">{$type} / {$status}</span>
                    <div class="time hidden-xs xepan-padding-horizontal-small"> {$callback_date}</div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
                      <div class="panel panel-default">
                        <div id="headingOne" role="tab" class="panel-heading ticket-heading">
                          <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsed_{$id}" aria-expanded="true" aria-controls="collapseOne">
                              <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" class="text">{$message_expression}</div></a></h4>
                        </div>
                        <div id="collapsed_{$id}" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div class="text xepan-push-large">{$message_expression} </div>
                            <div id="email-detail-attachments">
                              <div id="email-attachments-header" class="clearfix">
                                <div class="headline">{check_attach}<i class="fa fa-paperclip">&nbsp;</i><span>Attachments : </span><b>{attachment_count}( 3 ){/}</b>{/}</div>
                                <div class="tools"></div>
                              </div>
                            </div>
                            <div id="email-attachments-content">{$attachments}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>{/}
      {/}{/}
      <div class="col-md-12">{$form}</div>{not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
      {totals}{cols}{col}{$content}{/}{/}{/}
    </div>{$Paginator}
  </div>
</div>