div(id="{$_name}")
  #email-box.email-detail-nano.has-scrollbar(style='margin-left:0px')
          button.btn.btn-success.back-to-support-ticket(title="Back to Support Ticket")
            i.fa.fa-arrow-left
          .email-detail-nano-content(tabindex='0', style='right: -13px;')
            #email-detail-inner
              #email-detail-subject.clearfix
                span.subject {$subject}
                span.label.label-success {$status}
                .pull-right(style="margin-right:7%"){$action}
              #email-detail-sender.clearfix(style="height:auto;")
                .picture.hidden-xs
                  {avatar}
                  //- img(alt='', src='{image}img/samples/scarlet-159.png{/}')
                  {/}
                .users(style="width:88%")
                  .from.clearfix
                    .name
                      {$from_name},  {from_email}|{/}
                    .email.hidden-xs
                  .to
                    | To:
                    {to_lister}
                    {rows}{row} 
                    span {name} {/} ,&nbsp;{email}{/}&nbsp;&nbsp;
                    {/}{/}
                    {/}
                  .to
                    | Cc:
                    {cc_lister}
                    {rows}{row} 
                    small{name}{/},&nbsp;{email} {/}&nbsp;&nbsp;
                    {/}{/}
                    {/}
                  .to
                    | Bcc: 
                    small {$bcc_name}
                .tools
                  .date
                    | {callback_date}{/}
                  
              #email-body
                #accordion.panel-group.accordion
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title(style="height: 20px;overflow: hidden;")
                          a.accordion-toggle.collapsed(href='#collapseTwo', data-parent='#accordion', data-toggle='collapse')
                            | {collapse_header}{/}
                      #collapseTwo.panel-collapse.collapse(style='height: 2px;')
                        .panel-body
                          {email_body}  
                          //- p
                          //-   | Hey Scarlett,
                          //- p
                          //-   | Well, the way they make shows is, they make one show. That show's called a pilot. Then they
                          //-   | show that show to the people who make shows, and on the strength of that one show they decide
                          //-   | if they're going to make more shows. 
                          //-   a(href='#') Some pilots
                          //-   |  get picked and become television
                          //-   | programs. Some don't, become nothing. She starred in one of the ones that became nothing.
                          {/}
                          #email-detail-attachments
                            #email-attachments-header.clearfix
                              .headline
                                {check_attach}
                                i.fa.fa-paperclip &nbsp;
                                span Attachments : 
                                b {ticket_attachment}{/}
                                {/}
                              .tools
                                //- a.all-Attachment-media(data-id="{$id}") Download all
                            #email-attachments-content
                              {Attachments}
                              ul.clearfix
                                {rows}{row}
                                li
                                  .img
                                    a(href='#')
                                      img(alt='', src='{file}img/samples/hdr/small/img_5.jpg{/}')
                                  span.name
                                    //- {file}| nature.jpg{/}
                                  a(href='{$file}' download) Download
                                  {/}
                              {/}{/}
          {$comment_view}
          {reply_wrapper}    
          .xepan-crm-reply-tool.xepan-crm-reply-tool-closed
            a.xepan-crm-reply-tool-cog.btn-success
              |Reply
              //- i.fa.fa-filter.fa-2x.hidden-md.hidden-lg
            .xepan-crm-communication-reply-view
              .header.btn-primary
                  |Reply To {$to_email}
                  i.fa.fa-close.pull-right.close-reply-comment-popup 
                  //- i.fa.fa-expand.pull-right.compose-email-resizeable 
                  //- i.fa.fa-minus.pull-right.minimize-comment-popup
              .xepan-crm-form-inner
                {$reply_form}    
          {/reply_wrapper}    
          //- .nano-pane
          //-   .nano-slider(style='height: 502px; transform: translate(0px, 60px);')
style.
    .accordion .panel-title > a::after {
        top: 18%;
    }
    .email-detail-nano .xepan-crm-communication-reply-view .col-md-2, 
    .email-detail-nano .xepan-crm-communication-reply-view .col-md-3,
    .email-detail-nano .xepan-crm-communication-reply-view .col-md-4,
    .email-detail-nano .xepan-crm-communication-reply-view .col-md-5,
    .email-detail-nano .xepan-crm-communication-reply-view .col-md-6 {
      width:100%!important;
    }  
    
script.
    $(".xepan-crm-reply-tool-cog").click(function(){
        $(this).parent('div.xepan-crm-reply-tool').toggleClass("xepan-crm-reply-tool-closed");
    });
