div(id="{$_name}")
  #email-box.email-detail-nano.has-scrollbar(style='margin-left:0px')
          .email-detail-nano-content(tabindex='0', style='right: -13px;')
            #email-detail-inner
              #email-detail-subject.clearfix
                span.subject {subject}FW: Like your new movie{/}
                span.label.label-success {status}Work{/}
              #email-detail-sender.clearfix(style="height:auto;")
                .picture.hidden-xs
                  {avatar}
                  img(alt='', src='{image}img/samples/scarlet-159.png{/}')
                  {/}
                .users(style="width:88%")
                  .from.clearfix
                    .name
                      {$from_name},  {from_email}|{/}
                    .email.hidden-xs
                  .to
                    | To:
                    {to_lister}
                    {rows}{row} 
                    span {name} {/} ,&nbsp;{email}{/}&nbsp;&nbsp;
                    {/}{/}
                    {/}
                  .to
                    | Cc:
                    {cc_lister}
                    {rows}{row} 
                    small{name}{/},&nbsp;{email} {/}&nbsp;&nbsp;
                    {/}{/}
                    {/}
                  .to
                    | Bcc: 
                    small {$bcc_name}
                .tools
                  .date
                    | {callback_date}Sep 12 (6 days ago){/}
                  
              #email-body
                #accordion.panel-group.accordion
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title(style="height: 20px;overflow: hidden;")
                          a.accordion-toggle.collapsed(href='#collapseTwo', data-parent='#accordion', data-toggle='collapse')
                            | {collapse_header}Collapsible Group Item #2{/}
                      #collapseTwo.panel-collapse.collapse(style='height: 2px;')
                        .panel-body
                          {email_body}  
                          p
                            | Hey Scarlett,
                          p
                            | Well, the way they make shows is, they make one show. That show's called a pilot. Then they
                            | show that show to the people who make shows, and on the strength of that one show they decide
                            | if they're going to make more shows. 
                            a(href='#') Some pilots
                            |  get picked and become television
                            | programs. Some don't, become nothing. She starred in one of the ones that became nothing.
                          {/}
                          #email-detail-attachments
                            #email-attachments-header.clearfix
                              .headline
                                {check_attach}
                                i.fa.fa-paperclip &nbsp;
                                span Attachments : 
                                b {ticket_attachment}( 3 ){/}
                                {/}
                              .tools
                                //- a.all-Attachment-media(data-id="{$id}") Download all
                            #email-attachments-content
                              {Attachments}
                              ul.clearfix
                                {rows}{row}
                                li
                                  .img
                                    a(href='#')
                                      img(alt='', src='{file}img/samples/hdr/small/img_5.jpg{/}')
                                  span.name
                                    //- {file}| nature.jpg{/}
                                  a(href='{$file}' download) Download
                                  {/}
                              {/}{/}
              
          //- .nano-pane
          //-   .nano-slider(style='height: 502px; transform: translate(0px, 60px);')
style.
    .accordion .panel-title > a::after {
        top: 18%;